.app-container {
  display: flex;
  width: 50vw;
  height: 100vh;
  margin: 0 auto;
  margin-top: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100vh;
  text-transform: capitalize;
}

.sidebar h1 {
  margin-bottom: 35px;
}

.sidebar h1, h2 {
  padding: 8px;
  font-weight: 400;
  font-size: 1.2em;
}

.sidebar .active {
  background-color: hsl(0, 0%, 25%);
  border-radius: 10px;
}

.sidebar h2:hover {
  font-size: 1.5em;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 75%;
}

.create-todo-bar {
  display: flex;
  height: 54px;
  width: 100%;
  flex-shrink: 0;
}

.create-todo-bar input {
  width: 100%;
  outline: none;
  background: none;
  border: 1.2px solid rgba(0, 0, 255, 0.2) ;
  color: white
}

.create-todo-bar button {
  background: none;
  border: none;
  color: white;
  outline: none;
  font-size: 2em;
}

button:active, button:hover, button:focus, button:visited {
  outline: none;
  border: none;
  border-image: none;
}

.todo-list {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.todo-category {
  margin-bottom: 10px;
}

.todo-item {
  margin-left: 45px;
  margin-top: 15px;
  display: flex;
}

.todo-item .todo-item-buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
